extends ../layout

block content
  //- h1= title
  h1 #{title}
  //- p Welcome to #{title}
  nav 
    ul 
      li  
        a(href=`/admin/news/add`) Dodaj



  table
    tr 
      th id
      th tytuł
      th opis
      th data dodania
      th akcja
    each item, index in data 
      tr 
        td=index
        td=item.title
        td=item.description
        td=item.created   
        td 
          a(href=`/admin/news/delete/${item._id}`) Usuń 